<template>
  <div id="shared-drafts">
    <div class="wrap">
      <div class="sd-header">
        <h1 class="wp-heading-inline">
          Shared Drafts
        </h1>
        <transition name="sd-title-new" mode="out-in">
          <button
            @click="showWidget = true"
            class="page-title-action sd-title-new-button"
            key="new-button"
            v-if="!showWidget"
          >
            Add New
          </button>
          <ShareCreateWidget
            :sharables="sharables"
            @close="showWidget = false"
            @refreshSharables="onRefreshSharables"
            class="sd-title-new-widget"
            key="widget"
            v-if="showWidget"
          ></ShareCreateWidget>
        </transition>
      </div>
      <SharedDrafts
        :sharables="sharables"
        @refreshSharables="onRefreshSharables"
      ></SharedDrafts>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Visibility from 'visibilityjs'
import SharedDrafts from './components/SharedDrafts.vue'
import ShareCreateWidget from './components/ShareCreateWidget.vue'

import {
  actions,
  initialSharables,
  urls,
} from './helpers/constants'
import generateFormData from './helpers/generateFormData'
import handleAxiosError from './helpers/handleAxiosError'

export default {
  name: 'app',
  components: {
    ShareCreateWidget,
    SharedDrafts,
  },
  beforeMount: function() {
    this.startFetchInterval()
    this.fetchSharables()
  },
  beforeDestroy: function() {
    if (this.fetchTimerId) {
      Visibility.stop(this.fetchTimerId)
    }
  },
  data: function() {
    return {
      fetchTimerId: null,
      sharables: initialSharables,
      showWidget: false,
    }
  },
  methods: {
    fetchSharables: function() {
      if (process.env.NODE_ENV !== 'production') {
        console.warn('Fetch sharable posts')
      }
      const payload = {
        action: actions.readMultiple,
      }
      axios.post(urls.ajax, generateFormData(payload)).then(response => {
        this.sharables = response.data
      }).catch(handleAxiosError)
    },
    startFetchInterval: function() {
      if (this.fetchTimerId) {
        Visibility.stop(this.fetchTimerId)
      }
      const minute = 60 * 1000
      this.fetchTimerId = Visibility.every(minute, 5 * minute, () => {
        this.fetchSharables()
      })
    },
    onRefreshSharables: function(newSharables) {
      this.sharables = newSharables
      // Stop existing timer and restart a new timer
      this.startFetchInterval()
    },
  }
}
</script>

<style lang="scss" scoped>
.sd-header {
  margin-bottom: 1em;

  .sd-new-share-controls {
    display: inline-block;
    vertical-align: top;
    padding: 9px 0 3px; // mimic .wrap h1 padding
  }
}

.sd-new-button {
  vertical-align: middle;
}

.sd-title-new-button,
.sd-title-new-widget {
  transition: (
    opacity 0.1s linear,
  );
}

.sd-title-new-enter,
.sd-title-new-leave-to {
  opacity: 0;
}

</style>
