<template>
  <div class="sd-date-input">
    <button
      :disabled="loading || selectedShares.length <= 0"
      @click="deleteSelected"
      class="button sd-submit"
    >
      Delete Selected
    </button>
    <button
      :disabled="loading || expiredShares.length <= 0"
      @click="deleteExpired"
      class="button sd-submit"
    >
      Delete Expired
    </button>

    <Spinner v-if="loading"></Spinner>
  </div>
</template>

<script>
import axios from 'axios'

import Spinner from './Spinner.vue'

import {
  actions,
  defaultFlatpickrConfig,
  urls,
} from '../helpers/constants'
import generateFormData from '../helpers/generateFormData'
import handleAxiosError from '../helpers/handleAxiosError'

export default {
  name: 'bulkDeleteWidget',
  components: {
    Spinner,
  },
  data: function() {
    return {
      loading: false,
    }
  },
  props: [
    'expiredShares',
    'selectedShares',
  ],
  computed: {
    expiredIds: function() {
      return this.expiredShares.map(post => post.id)
    },
    expiredKeys: function() {
      return this.expiredShares.map(post => post.key)
    },
    selectedIds: function() {
      return this.selectedShares.map(post => post.id)
    },
    selectedKeys: function() {
      return this.selectedShares.map(post => post.key)
    },
  },
  methods: {
    deleteExpired: function() {
      if (process.env.NODE_ENV !== 'production') {
        console.log(`Delete expired shares (${this.expiredKeys.join(', ')})`)
      }
      this.deleteMultiple(this.expiredIds, this.expiredKeys)
    },
    deleteSelected: function() {
      if (process.env.NODE_ENV !== 'production') {
        console.log(`Delete selected shares (${this.selectedKeys.join(', ')})`)
      }
      this.deleteMultiple(this.selectedIds, this.selectedKeys)
    },
    deleteMultiple: function(ids, keys) {
      this.loading = true

      const payload = {
        action: actions.deleteMultiple,
        ids,
        keys,
      }
      axios.post(urls.ajax, generateFormData(payload)).then(response => {
        if (response.data && 'sharables' in response.data) {
          this.$emit('refreshSharables', response.data.sharables)
        }
        this.loading = false
      }).catch(handleAxiosError)
    }
  }
}
</script>

<style lang="scss">
.sd-date-input .flatpickr-input {
  min-width: 12em;
  vertical-align: middle;
  background-color: white;
}
</style>
