<template>
  <div class="sd-shared-drafts">
    <div class="sd-bulk-actions">
      <BulkDeleteWidget
        :expiredShares="expiredShares"
        :selectedShares="selectedShares"
        @refreshSharables="refreshSharables"
      ></BulkDeleteWidget>
    </div>
    <table class="widefat">
      <thead>
        <tr>
          <th class="sd-checkbox-column">
            <input type="checkbox" v-model="checkedAll">
          </th>
          <th>Title</th>
          <th>Expires in</th>
          <th>
            Share until <span class="sd-icon">&#9650;</span>
          </th>
        </tr>
      </thead>
      <transition-group name="sd-draft-list" tag="tbody">
        <SharedDraft
          :key="post.key"
          :post="post"
          :isChecked="!!checked[post.key]"
          @check="onCheck"
          @refreshSharables="refreshSharables"
          v-for="post in sharedPosts"
        ></SharedDraft>
        <tr v-if="sharedPosts.length === 0" key="no-drafts">
          <td colspan="100%">
            No shared drafts!
          </td>
        </tr>
      </transition-group>
    </table>
  </div>
</template>

<script>
import moment from 'moment'

import BulkDeleteWidget from './BulkDeleteWidget.vue'
import SharedDraft from './SharedDraft.vue'
import containsLengthyArrayAtKey from '../helpers/containsLengthyArrayAtKey'
import concatArrays from '../helpers/concatArrays'

export default {
  name: 'sharedDrafts',
  components: {
    BulkDeleteWidget,
    SharedDraft,
  },
  props: [
    'sharables',
  ],
  data: function() {
    return {
      checked: {
      },
    }
  },
  computed: {
    checkedAll: {
      get: function () {
        const checkableKeys = this.sharedPosts.map(post => post.key)
        const checkedKeys = Object.keys(this.checked).filter(key => this.checked[key])
        return checkableKeys.length === checkedKeys.length && checkableKeys.length > 0
      },
      set: function (shouldCheckAll) {
        const newChecked = {}
        this.sharedPosts.map(post => post.key).map(checkKey => {
          newChecked[checkKey] = shouldCheckAll
        })
        this.checked = newChecked
      },
    },
    expiredShares: function() {
      return this.sharedPosts.filter(post => {
        const duration = +new Date(+post.expirationDate) - +new Date()
        return Math.sign(duration) <= 0
      })
    },
    selectedShares: function() {
      return this.sharedPosts.filter(post => {
        return post.key in this.checked && this.checked[post.key] === true
      })
    },
    sharablePosts: function() {
      const isNotShared = (key) => key !== 'shared'
      const getSharableByKey = (key) => this.sharables[key]

      return Object.keys(this.sharables).filter(
        isNotShared
      ).map(
        getSharableByKey
      ).reduce(concatArrays, [])
    },
    sharedPosts: function() {
      if (containsLengthyArrayAtKey(this.sharables, 'shared')) {
        const sortByExpirationDate = (a, b) => a.expirationDate - b.expirationDate

        const posts = this.sharablePosts
        return this.sharables.shared.map(post => {
          const match = posts.find((element) => `${element.id}` === `${post.id}`)
          let newPost = {
            ...post,
          }
          if (match) {
            newPost = {
              ...newPost,
              ...match,
            }
          }

          newPost.expirationDate = newPost.expiration_date
          delete newPost.expiration_date

          return newPost
        }).sort(sortByExpirationDate)
      } else {
        return []
      }
    },
  },
  methods: {
    onCheck: function (checkId, checked) {
      this.$set(this.checked, checkId, checked)
    },
    refreshSharables: function (newSharables) {
      this.$emit('refreshSharables', newSharables)
    }
  },
}
</script>

<style lang="scss" scoped>
.sd-bulk-actions {
  margin-bottom: 1em;
}

.sd-icon {
  font-size: 0.75em;
}

.sd-draft-list-enter,
.sd-draft-list-leave-to {
  opacity: 0;
}
</style>

<style lang="scss">
.sd-shared-drafts {
  .sd-checkbox-column {
    padding: 8px 3px;
    text-align: center;
    vertical-align: middle;
    width: 2.2em;

    input[type="checkbox"] {
      margin: 0;
      padding: 0;
      vertical-align: text-top;
    }
  }
}
</style>
