<template>
  <tr
    class="sd-shared-draft"
    :class="{
      'sd-is-expired': isExpired,
    }"
  >
    <td class="sd-checkbox-column">
      <input
        :value="post.id"
        type="checkbox"
        v-model="isCheckedCalculated"
      >
    </td>
    <td class="sd-table-cell sd-title-cell">
      <div class="sd-title">
        <a
          :href="url"
          :title="`Post #${post.id}`"
          class="sd-title-link"
          target="_blank"
        >
          {{ post.title }}
        </a>
        <a
          :data-clipboard-text="url"
          :href="url"
          @click.prevent
          class="sd-copy sd-action sd-inline-action"
          v-if="!isExpired"
          title="Copy sharable link"
        >
          <i class="dashicons dashicons-admin-links"></i>
        </a>
      </div>
      <div class="sd-title-actions">
        <a
          :class="{
            'sd-copy': !isExpired,
            'sd-copy-expired': isExpired,
          }"
          :data-clipboard-text="url"
          :href="url"
          @click.prevent
          class="sd-action"
        >
          Copy Link
        </a>
        <span> | </span>

        <a
          :href="`${editPostUrl}?post=${post.id}&action=edit`"
          class="sd-action sd-edit"
          target="_blank"
        >
          Edit Post
        </a>
        <span> | </span>

        <a class="sd-action sd-trash" href="#" @click.prevent="onTrash(post)">
          Trash
        </a>
      </div>
      <div class="sd-load-spinner" v-if="loading">
        <Spinner></Spinner>
      </div>
    </td>
    <td class="sd-table-cell sd-duration-cell">
      {{ durationText }}
    </td>
    <td class="sd-table-cell sd-date-cell">
      <transition name="sd-date-input" mode="out-in">
        <ShareUpdateWidget
          :expiration-date="date"
          :post-id="post.id"
          :post-key="post.key"
          @close="hideModal"
          @refreshSharables="refreshSharables"
          v-if="isModalVisible"
        ></ShareUpdateWidget>

        <div class="sd-date" v-else>
          <span class="sd-date-text">
            {{ dateText }}
          </span>
          <span class="sd-date-actions">
            <a
              @click.prevent="showModal(post)"
              class=" sd-action sd-extend"
              href="#"
            >
              Change
            </a>
          </span>
        </div>
      </transition>
    </td>
  </tr>
</template>

<script>
import axios from 'axios'
import Clipboard from 'clipboard'
import moment from 'moment'

import ShareUpdateWidget from './ShareUpdateWidget.vue'
import Spinner from './Spinner.vue'

import {
  actions,
  momentDateFormat,
  urls,
} from '../helpers/constants'
import containsLengthyArrayAtKey from '../helpers/containsLengthyArrayAtKey'
import generateFormData from '../helpers/generateFormData'
import handleAxiosError from '../helpers/handleAxiosError'

export default {
  name: 'sharedDraft',
  props: [
    'isChecked',
    'post',
  ],
  components: {
    ShareUpdateWidget,
    Spinner,
  },
  mounted: function() {
    this.clipboardInstance = new Clipboard('.sd-copy')
  },
  beforeDestroy: function() {
    if (this.clipboardInstance) {
      this.clipboardInstance.destroy()
    }
  },
  data: function () {
    return {
      clipboardInstance: null,
      editPostUrl: urls.posts,
      isModalVisible: false,
      loading: false,
    }
  },
  computed: {
    date: function() {
      return new Date(+this.post.expirationDate)
    },
    dateText: function() {
      return moment(this.date).format(momentDateFormat)
    },
    duration: function() {
      return +this.date - +new Date()
    },
    durationText: function() {
      if (this.isExpired) {
        return 'Expired'
      } else {
        return moment.duration(this.duration).humanize()
      }
    },
    isCheckedCalculated: {
      get: function() {
        return this.isChecked
      },
      set: function(value) {
        const checkId = this.post.key
        this.$emit('check', checkId, event.target.checked)
      },
    },
    isExpired: function() {
      return Math.sign(this.duration) <= 0
    },
    url: function() {
      // This assumes that the post permalink already has a query
      return `${this.post.permalink}&shared-drafts=${this.post.key}`
    }
  },
  methods: {
    showModal: function () {
      this.isModalVisible = true
    },
    hideModal: function () {
      this.isModalVisible = false
    },
    refreshSharables: function (newSharables) {
      this.$emit('refreshSharables', newSharables)
    },
    onTrash: function () {
      if (process.env.NODE_ENV !== 'production') {
        console.log(`Delete ${this.post.key}`)
      }

      this.loading = true

      const payload = {
        action: actions.delete,
        key: this.post.key,
        post_id: this.post.id,
      }
      axios.post(urls.ajax, generateFormData(payload)).then(response => {
        if (response.data && 'sharables' in response.data) {
          this.loading = false
          this.refreshSharables(response.data.sharables)
        }
      }).catch(handleAxiosError)
    },
  }
}
</script>

<style lang="scss" scoped>
$gray: #999;
$link-blue: #0073aa;
$red: #a00;
$yellow: #ffa008;

//
// Title
//
.sd-title {
  font-weight: bold;
}

.sd-title-cell {
  position: relative;
}

.sd-load-spinner {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
}

//
// Style actionable sections with hover transitions
//
.sd-title-actions,
.sd-inline-action,
.sd-date-actions {
  color: #ddd;
  font-size: 13px;
  opacity: 0.3;

  transition: (
    color 0.2s linear,
    opacity 0.2s linear,
  );
}

.sd-shared-draft {
  &:focus, &:hover, &:active {
    .sd-title-actions,
    .sd-inline-action,
    .sd-date-actions {
      opacity: 1;
      text-transform: initial;
    }
  }
}

.sd-copy, .sd-copy-expired {
  .dashicons {
    font-size: 1em;
    height: 1em;
    width: 1em;
    line-height: inherit;
    color: $link-blue;
  }
}

.sd-trash {
  color: $red;
}

//
// Style date cell's elements
//
.sd-date,
.sd-date-input {
  min-width: 27em;
}

.sd-date-actions {
  margin-left: 0.5em;
}

.sd-date-actions,
.sd-date-input, {
  transition: (
    opacity 0.1s linear,
  );
}
.sd-date-input-enter,
.sd-date-input-leave-to {
  opacity: 0;
}

//
// Add initial state to draft row
//
.sd-shared-draft {
  transition: (
    background-color 0.2s linear,
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out,
  );
}

//
// Add expired state to draft row
//
.sd-shared-draft.sd-is-expired {

  .sd-duration-cell {
    font-weight: bold;
  }

  .sd-date-cell,
  .sd-duration-cell,
  .sd-title-link {
    color: $red;
  }
  .sd-copy-expired {
    cursor: not-allowed;
    color: $gray;
    text-decoration: line-through;
  }
}

</style>
