<template>
  <div class="sd-new-share-controls">
    <div class="sd-inputs">
      <select class="sd-post-select" v-model="postId">
        <option value="">Choose a draft to share</option>
        <optgroup
          :label="labels[postType]"
          v-for="postType in ['draft', 'pending', 'future']"
          v-if="filteredSharables[postType].length > 0"
        >
          <option v-for="sharable in filteredSharables[postType]" :value="sharable.id">
            {{ sharable.title }}
          </option>
        </optgroup>
      </select>
      <span class="sd-text">
        until
      </span>

      <input
        id="sd-datetime-input"
        placeholder="(ex. 2020-12-25 12:00pm)"
        type="text"
      >

      <button
        :disabled="loading || !(postId.length > 0 && Number.isFinite(expirationDate))"
        @click="submit"
        class="button sd-submit"
      >
        Share
      </button>
      <button
        :disabled="loading"
        @click="$emit('close')"
        class="button sd-close"
      >
        Close
      </button>
      <Spinner v-if="loading"></Spinner>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Flatpickr from 'flatpickr'

import Spinner from './Spinner.vue'

import {
  actions,
  defaultFlatpickrConfig,
  urls,
} from '../helpers/constants'
import handleAxiosError from '../helpers/handleAxiosError'
import containsLengthyArrayAtKey from '../helpers/containsLengthyArrayAtKey'
import generateFormData from '../helpers/generateFormData'

export default {
  name: 'shareCreateWidget',
  components: {
    Spinner,
  },
  mounted: function() {
    this.flatpickr = new Flatpickr(document.getElementById('sd-datetime-input'), {
      ...defaultFlatpickrConfig,
      minDate: new Date(), // "current time today"
      onChange: (selectedDates, dateStr, instance) => {
        this.expirationDate = +selectedDates[0]
    	},
    })
  },
  destroyed: function() {
    setTimeout(() => {
      if (this.flatpickr) {
        this.flatpickr.destroy()
      }
    }, 3000) // let exit CSS transition finish before destroying calendar
  },
  data: function() {
    return {
      expirationDate: null,
      flatpickr: null,
      loading: false,
      postId: '',

      labels: {
        draft: 'Your Drafts: ',
        future: 'Pending Review: ',
        pending: 'Your Scheduled Posts: ',
      }
    }
  },
  props: [
    'sharables',
  ],
  computed: {
    filteredSharables: function() {
      let draft = []
      let future = []
      let pending = []
      if (containsLengthyArrayAtKey(this.sharables, 'draft')) {
        draft = this.sharables.draft
      }
      if (containsLengthyArrayAtKey(this.sharables, 'future')) {
        future = this.sharables.future
      }
      if (containsLengthyArrayAtKey(this.sharables, 'pending')) {
        pending = this.sharables.pending
      }

      return {
        draft,
        future,
        pending,
      }
    },
  },
  methods: {
    submit: function() {
      if (process.env.NODE_ENV !== 'production') {
        console.log(`Share ${this.postId} until ${this.expirationDate}`)
      }

      this.loading = true

      const payload = {
        action: actions.create,
        expiration_date: this.expirationDate,
        post_id: this.postId,
      }
      axios.post(urls.ajax, generateFormData(payload)).then(response => {
        if (response.data && 'sharables' in response.data) {
          const newSharables = response.data.sharables
          this.$emit('refreshSharables', newSharables)
        }

        this.loading = false
      }).catch(handleAxiosError)
    }
  }
}
</script>

<style lang="scss" scoped>
.sd-text,
.sd-submit,
.sd-close,
.sd-duration,
.sd-duration-unit-select {
  vertical-align: middle;
}
</style>

<style lang="scss">
.sd-new-share-controls .flatpickr-input {
  min-width: 14em;
  vertical-align: middle;
  background-color: white;
}
</style>
