<template>
  <div class="sd-date-input">
    <input
      :id="`sd-datetime-input-${postKey}`"
      placeholder="Select a new expiration time"
      type="text"
    >

    <button
      :disabled="loading || !(postKey.length > 0 && Number.isFinite(newExpirationDate))"
      @click="submit"
      class="button sd-submit"
    >
      Update
    </button>
    <button
      :disabled="loading"
      @click="close"
      class="button sd-close"
    >
      Close
    </button>
    <Spinner v-if="loading"></Spinner>
  </div>
</template>

<script>
import axios from 'axios'
import Flatpickr from 'flatpickr'

import Spinner from './Spinner.vue'

import {
  actions,
  defaultFlatpickrConfig,
  urls,
} from '../helpers/constants'
import generateFormData from '../helpers/generateFormData'
import handleAxiosError from '../helpers/handleAxiosError'

export default {
  name: 'shareUpdateWidget',
  components: {
    Spinner,
  },
  mounted: function() {
    const id = `sd-datetime-input-${this.postKey}`
    this.flatpickr = new Flatpickr(document.getElementById(id), {
      ...defaultFlatpickrConfig,
      defaultDate: +this.expirationDate,
      minDate: new Date(), // "today"
      onChange: (selectedDates, dateStr, instance) => {
        this.newExpirationDate = +selectedDates[0]
    	},
    })
  },
  destroyed: function() {
    setTimeout(() => {
      if (this.flatpickr) {
        this.flatpickr.destroy()
      }
    }, 3000) // let exit CSS transition finish before destroying calendar
  },
  data: function() {
    return {
      flatpickr: null,
      loading: false,
      newExpirationDate: this.expirationDate,
    }
  },
  props: [
    'expirationDate',
    'postId',
    'postKey',
  ],
  methods: {
    close: function() {
      this.$emit('close')
    },
    submit: function() {
      if (this.newExpirationDate !== this.expirationDate) {
        if (process.env.NODE_ENV !== 'production') {
          console.log(`Change share ${this.postId} - ${this.postKey} to ${this.newExpirationDate}`)
        }

        this.loading = true

        const payload = {
          action: actions.modify,
          expiration_date: this.newExpirationDate,
          key: this.postKey,
          post_id: this.postId,
        }
        axios.post(urls.ajax, generateFormData(payload)).then(response => {
          if (response.data && 'sharables' in response.data) {
            this.$emit('refreshSharables', response.data.sharables)
          }
          this.loading = false
          this.close()
        }).catch(handleAxiosError)
      }
    }
  }
}
</script>

<style lang="scss">
.sd-date-input .flatpickr-input {
  min-width: 12em;
  vertical-align: middle;
  background-color: white;
}
</style>
