<template>
  <div class="sd-loading-spinner">
  	<div class="sd-spinner">
  		<div class="sd-mask">
  			<div class="sd-masked-circle"></div>
  		</div>
  	</div>
  </div>
</template>

<script>
export default {
  name: 'spinner',
}
</script>

<style lang="scss" scoped>
$link-blue: #0073aa;

@keyframes spin {
	from {
    transform: rotate(0deg);
  }
	to {
    transform: rotate(360deg);
  }
}

// Loading animation container
.sd-loading-spinner {
  display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
  font-size: 20px;
  vertical-align: middle;
}

// Spinning circle (inner circle)
.sd-masked-circle {
	width: .75em;
	height: .75em;
	border-radius: 12px;
	border: 3px solid $link-blue;
}

// Spinning circle mask
.sd-mask {
	width: 0.5em;
	height: 0.5em;
	overflow: hidden;
}

// Spinner
.sd-spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: calc(1em - 1px);
	height: calc(1em - 1px);
	animation: spin 1s infinite linear;
}
</style>
